/* Estilos Generales */
body {
    font-family: 'Roboto', sans-serif;
  }
  
  /* Navbar */
  .nav-link:hover {
    color: #0d6efd !important;
    text-decoration: underline;
    transition: 0.3s;
  }
  
  /* Hero Section */
 .hero-section {
    height: 90vh;
    overflow: hidden;
    position: relative;
  }
  
  .hero-section img {
    object-fit: cover;
    filter: brightness(50%);  /* Oscurece la imagen para mayor contraste */
  }
  
  .text-shadow {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);  /* Sombra de texto para más contraste */
  }
  
  .hero-section .btn-primary {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #0d6efd;  /* Color más fuerte para el botón */
  }
  .hero-section .btn-primary {
    transition: background-color 0.3s ease;
  }
  
  .hero-section .btn-primary:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
  }  
  
  /* Productos Destacados */
  .card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
  }
  
  /* Footer */
  footer a {
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  footer a:hover {
    color: #0d6efd;
  }
  
 
  .form-control::placeholder {
    color: #6c757d; /* gris Bootstrap estándar */
    opacity: 1;
  }
  
  .custom-card-height {
    height: 500px;
    overflow: hidden;
  }
  
  .custom-card-height img {
    object-fit: cover;
    height: 100%;
  }

